body {
	height: 900px;
	padding-top: 120px;
}

.navbar-inner .container.pull-left {
	padding-left: 20px;
}

.subnav {
	position: fixed;
	background: rgb(240, 240, 240);
	top: 40px;
	height: 37px;
	width: 100%;
	z-index: 1020;
}

.subnav .nav-pills {
	padding-left: 10px;
}

.well {
	height: 100%;
	overflow: scroll;
	padding: 10px 10px 0px 10px; 
}

.sidebar-nav {
	height: 900px;
}

.table th,
.table td {
  vertical-align: middle;
}

.pubCol {
	width: 20px;
}

.btnCol {
	width: 110px;
}

.popover {
	width: 340px;
	z-index: 1040;
}

.popover-inner {
	width: 340px;
	z-index: 1050;
}

.hero-unit {
	height: 100%;
	width: 810px;
	padding: 0px;
}

#sortBy {
	margin-top: 3px;
}

#searchBar {
	margin-top: 4px;
}

#searchField {
	margin-right: -5px;
}

#publishCheckbox {
	margin-top: 10px;
	margin-left: 10px;
}

#previewFrame {
	width: 810px;
	height: 100%;
}
