<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>System Previewer</title>
	<meta name="description" content="systempreviewer">
	<meta name="author" content="engagesciences">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/systemPreviewer.css" type="text/css" />	
</head>
<body>
	<div id="previewer">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container pull-left">
					<a class="brand" href="#">System Previewer</a>
					<ul class="nav">
						<li id="all" class="active">
							<a href="#all">All</a>
						</li>
						<li id="page">
							<a href="#pages">Pages</a>
						</li>
						<li id="campaign">
							<a href="#campaigns">Campaigns</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="subnav">
			<ul class="nav nav-pills">
		    <li class="dropdown">
		      <a id="sortBy" class="dropdown-toggle" data-toggle="dropdown" href="#">Sort By<b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li id="sortById">
		        	<a href="#accountId">Account ID</a>
		        </li>
		        <li id="sortByAccountName">
		        	<a href="#accountName">Account Name</a>
		        </li>
		        <li id="sortByObjectName">
		        	<a href="#objectName">Object Name</a>
		        </li>
		      </ul>
		    </li>
		    <li id="searchBar">
		    	<form class="form-search">
			    	<div class="input-append">
			    		<input id="searchField" class="input-medium search-query" type="text" data-provide="typeahead">
			    		<button id="searchBtn" type="submit" class="btn">
			    			<i class="icon-search"></i>
			    		</button>	    
			    	</div>
		    	</form>
		  	</li>
		  	<li id="publishCheckbox">
		  		<label class="checkbox">
		  			<input id="togglePublished" type="checkbox" value="false">Published
		  		</label>
		  	</li>
		  </ul>
		</div>

		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span5">
		      	<!--Sidebar content-->
		      	<div class="well sidebar-nav">
		      	<table class="table table-striped table-condensed">
		      		<thead>
		      			<tr>
		      				<th>ID</th>
		      				<th>Account Name</th>
		      				<th>Object Name</th>
		      				<th class="pubCol"><i class="icon-question-sign" id="isPublished" rel="tooltip" title="Is Published?"></i></th>
		      				<th class="btnCol"></th>
		      			</tr>
		      		</thead>
		      		<tbody>
					</tbody>
				</table>
		      </div>
		    </div>
		    <div class="span7">
		      <!--Body content-->
		      <div class="hero-unit">
		      	<iframe id="previewFrame"></iframe>
		      </div>
		    </div>
		  </div>
		</div>
	</div>	

	<script type="text/javascript" src="libs/jquery.min.js"></script>
	<script type="text/javascript" src="libs/underscore-min.js"></script>
	<script type="text/javascript" src="libs/backbone-min.js"></script>
	<script type="text/javascript" src="libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap-typeahead.js"></script>
	<script type="text/javascript" src="libs/bootstrap-dropdown.js"></script>
	<script type="test/javascript" src="libs/bootstrap-tooltip.js"></script>
	<script type="text/javascript" src="libs/bootstrap-popover.js"></script>
	<script type="text/template" id="previewTemplate">
			<td><%= accountId %></td>
			<td><%= accountName %></td>
			<td><%= objectName %></td>
			<td>
					<% if (isPublished.match(/status.*.published/)) { %> 
						<i class="icon-ok-sign"></i> <% } else { %>
						<i class="icon-remove-sign"></i> <% } %>
			</td>
			<td>
				<div id="actionBtnGrp" class="btn-group pull-right">
					<a id="previewBtn" href=<%= previewLink %> target="previewFrame" class="btn btn-mini" rel="tooltip" title="Preview">
						<i class="icon-edit"></i>
					</a>
					<a id="previewTabBtn" href=<%= previewLink %> target="_blank" class="btn btn-mini" rel="tooltip" title="Preview In Tab">
						<i class="icon-share"></i>
					</a>
					<a id="fbLinkBtn" href=<%= fbLink %> target="_blank" class="btn btn-mini" rel="tooltip" title="Link To Facebook Page">
						<i class="icon-share-alt"></i>
					</a>
					<a id="infoBtn" class="btn btn-mini" rel="popover" title="More Info" data-content="
						<table>
							<tbody>
								<% if (type === 'type.displayschedule.page') { %>
									<tr>
										<td><strong>Appname:</strong></td>
										<td><%= info.appname %></td>
									</tr>
								<% } %>
								<% if (type === 'type.displayschedule.campaign') { %>
									<tr>
										<td><strong>Owner:</strong></td>
										<td><%= info.owner %></td>
									</tr>
								<% } %>
								<tr>
									<td><strong>Theme:</strong></td>
									<td><%= info.theme %></td>
								</tr>
								<tr>
									<td><strong>Object ID:</strong></td>
									<td><%= info.objectId %></td>
								</tr>
								<tr>
									<td><strong>Created By:</strong></td>
									<td><%= info.createdBy %></td>
								</tr>
								<tr>
									<td><strong>Modified By:</strong></td>
									<td><%= info.modifiedBy %></td>
								</tr>
								<tr>
									<td><strong>Created On:</strong></td>
									<td><%= info.createdOn %></td>
								</tr>
								<tr>
									<td><strong>Modified On:</strong></td>
									<td><%= info.modifiedOn %></td>
								</tr>
								<tr>
									<td><strong>Publish Date:</strong></td>
									<td><%= info.publishDate %></td>
								</tr>
								<tr>
									<td><strong>Expiry Date:</strong></td>
									<td><%= info.expiryDate %></td>
								</tr>
							</tbody>
						</table> ">
						<i class="icon-info-sign"></i>
					</a>
				</div>
			</td>
	</script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

